.MainChat
  .MainChat__header
    .MainHeader
      .MainHeader__Left
        .MainHeader__GroupName
          = @group.name   
        %ul.MainHeader__MemberList
          Member :  
          %li.MainHeader__Member
            - @group.users.each do |user|
              = user.name
 
              

      .MainHeader__Right
        = link_to edit_group_path(@group) do
          .MainHeader__EditBtn Edit
  
  .MainChat__messages
    = render @messages

  .MainChat__form
    = form_with model: [@group, @message], html:{class: 'new_message'}, local: true do |f|
      .MainForm
        = f.text_field :content, placeholder: 'type a message',class: 'MainForm__Text'
        = f.label :image, class: 'MainForm__Image' do
          = f.file_field :image, class: 'MainForm__File'
          = icon('far', 'image')
        = f.submit 'Send', class: 'MainForm__Btn'

